html{
    background-color: #FCF0DE;
    margin-top: 0px;
}
body{
margin-top: 0px;
}
main{
    min-width: 100vw;
}
.layout-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;
}